.App {
  padding: 3em;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
      padding: 1em 0;
    }
  }
  &-title {
    font-weight: bold;
  }
}
@media only screen and (max-width: 640px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .App-tagline {
    font-size: 0.9rem;
  }
}
.error {
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid red;
}
.codes {
  display: block;
  width: 100%;
  height: 70vh;
  background-color: inherit;
  color: currentColor;
  border: 2px solid var(--line-color);
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.25em;
  font-family: monospace;
  box-sizing: border-box;
  &:focus {
    outline-color: var(--link-color);
  }
}

.btn {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  border: 0 none;
  padding: 0.5em 1em;
  cursor: pointer;
  &:active {
    opacity: 0.9;
  }
}

.btn-block {
  display: inline-block;
  width: 100%;
  text-align: center;
}
