:root {
  --main-bg-color:#f2f2f2;
  --main-text-color:#666;
  --line-color:#ddd;
  --link-color:#097ACF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--main-bg-color);
  color:var(--main-text-color);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:var(--link-color);
}



@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color:#222;
    --main-text-color:#999;
    --line-color:#555;
    --link-color:#9DDCFF;
  }
}